---
import '../styles/contact.css'
---
<div class="h-10">
  
</div>
<div class="cbox">
  <p>Proprietor</p>

    <p class="bg-[#A78295] text-2xl w-full rounded-2xl p-2">Nidheesh Kunnath</p>
</div>
<div class="h-10">
  
</div>
<div class="cbox">
  <p>Address</p>

    <p class="bg-[#A78295] text-2xl w-full rounded-2xl p-2">GOLDEN TEAK DEALER, <br/>LIC ROAD,<br/> NILAMBUR</p>
</div>
<div class="h-10">
  
</div>
<div class="cbox">
  <p>E-mail</p>

    <p class="bg-[#A78295] text-2xl w-full rounded-2xl p-2">tejutimbers@gmail.com</p>
    
</div>
<div class="h-10">
  
</div>
<div class="cbox">
  <p>Phone</p>

    <p class="bg-[#A78295]  w-full rounded-2xl p-2 text-2xl">+91 9745597713<br/>+91 8921889340</p>
</div>

<div class="h-10">
  
</div>
<div class="cbox">
  <p>GSTIN</p>

    <p class="bg-[#A78295] text-2xl w-full rounded-2xl p-2">32DOMPK7158J1ZI</p>
</div>