---
import '../styles/AnimImg.css'
import '../styles/text.css'
---

<div class="container bg-[url('/assets/svg/blob.svg')]">
   <img class="pic" src="/assets/IMG_20230822_132846_149.jpg"/>
	  <img class="picTwo" src="/assets/IMG_20230822_132846_149.jpg"/></div>
<p class="ImgText text-black dark:text-white md: text-center align-middle p-4 pb-8 md:pr-16 md:pl-16">Discover the Beauty of Timber at Our Business! 🌳 Quality Wood Products for Every Project. Transform Your Ideas into Reality with Our Premium Timber Selection.</p>
<div class="container bg-[url('/assets/svg/blob2.svg')]">
   <img class="picThree" src="/assets/IMG_20230822_132846_384.jpg"/>

	  <img class="picFour" src="/assets/IMG_20230822_132846_149.jpg"/></div>