---
import '../styles/AnimImg.css'
import '../styles/text.css'
import '../styles/lineAnim.css'
---

<div class="container bg-[url('/assets/svg/blob.svg')]">
   <img class="pic" src="/assets/IMG_20230822_132846_149.jpg"/>
	  <img class="picTwo" src="/assets/IMG_20230822_132846_149.jpg"/></div>
<p class="ImgText text-black dark:text-white md: text-center align-middle p-4 pb-8 md:pr-16 md:pl-16">One of the world's most sought after woods, it has unique features like a large size, durability and its distinctive colour. Nilambur teak is said to possess high resistance to fungal decay and also exhibit antioxidant properties. Nilambur Teak, internationally known for its superior quality and elegant appearance. Nilambur teak is famous for its Grains, Design, Oil content, Golden colour etc.. Nilambur teak has now been given the prestigious Geographical Indication (GI) tag by the Geographical Indication (GI) Registry and Intellectual Property India. Nilambur teak is famous for its quality.</p>
  <div class="flex justify-center align-middle">
  <div class="line-center bg-black dark:bg-white"/>
</div>
<p class="ImgText font-bold text-black dark:text-white md: text-center align-middle p-4 pb-8 md:pr-16 md:pl-16">Teju timbers are selling all kinds of Nilambur forest teak and Miscellaneous Timbers. Teju timbers is the one of the most popular nilambur forest teak dealer in Nilambur.</p>
<div class="container bg-[url('/assets/svg/blob2.svg')]">
   <img class="picThree" src="/assets/IMG_20230822_132846_384.jpg"/>

	  <img class="picFour" src="/assets/IMG_20230822_132846_149.jpg"/></div>