---
import '../styles/Navbar.css'
---
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<body>
    <header class="bg-[#EDDBC7] dark:bg-[#FAF0E6]">
   <img src="/favicon.png" class="logo"/>
        <div class="mean-toggle brown"></div>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/category">Category</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
        <div class="clear"></div>
    </header>
    
     <script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous">
</script>
  <script type="text/javascript">
      $(document).ready(function()
      {
          $('.mean-toggle').click(function()
        {
              $('.mean-toggle').toggleClass('active')
              $('nav').toggleClass('active')
        })
      })
    </script>
    
    

</body>

